<div id="battle-console">
    <div class="battle-container">
        <div class="battle-log">
            <div class="log-table">
                <h1>What will you decide to do?</h1>
            </div>
        </div>
        <div class="battle-command">
            <ul id="commands">
                <li><span>Fight</span></li>
                <li><span>Bag</span></li>
                <li><span>Pokemón</span></li>
                <li><span>Run</span></li>
            </ul>
        </div>
    </div>
</div>
