<div *ngIf="playerInBattle" id="in-battle">
    <div class="battleBackground">
        <img src="../../../assets/img/battlebackground.png" alt="">
    </div>
    <div class="pokemon-player">
        <img src="{{ playerPokemon.back_sprite }}" alt="">
    </div>
    <div class="pokemon-enemy">
        <img src="{{ enemyPokemon.front_sprite }}" alt="">
    </div>
    <div class="status-enemy">
        <div class="down-style">
            <div class="triangle-style">
                <div class="triangle">                
                </div>
            </div>
        </div>
        <div class="pokemon-status">
            <div class="status-container">
                <div class="name">
                    <span>{{ enemyPokemon.name }}</span>
                </div>
                <div class="level">
                    <span>Lv100</span>
                </div>
                <div class="hp-section">
                    <div class="hp-content">
                        <span>HP</span>
                        <div class="hp-bar">
                            <div class="hp-bar-content">
                                <div class="real-hp" [style.width.%]="enemyHP" >
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="status-player">
        <div class="down-style">
            <div class="triangle-style">
                <div class="triangle">                
                </div>
            </div>
        </div>
        <div class="pokemon-status">
            <div class="status-container">
                <div class="name">
                    <span>{{ playerPokemon.name }}</span>
                </div>
                <div class="level">
                    <span>Lv100</span>
                </div>
                <div class="hp-section">
                    <div class="hp-content">
                        <span>HP</span>
                        <div class="hp-bar">
                            <div class="hp-bar-content">
                                <div class="real-hp" [style.width.%]="playerHP">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
