<div id="in-battle">
    <div class="battleBackground">
        <img src="../../../assets/img/battlebackground.png" alt="">
    </div>
    <div class="pokemon-player">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/heartgold-soulsilver/back/1.png" alt="">
    </div>
    <div class="pokemon-enemy">
        <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/versions/generation-iv/heartgold-soulsilver/1.png" alt="">
    </div>
    <div class="status-enemy">
        <div class="down-style">
            <div class="triangle-style">
                <div class="triangle">                
                </div>
            </div>
        </div>
        <div class="pokemon-status">
            <div class="status-container">
                <div class="name">
                    <span>bulbasaur</span>
                </div>
                <div class="level">
                    <span>Lv100</span>
                </div>
                <div class="hp-section">
                    <div class="hp-content">
                        <span>HP</span>
                        <div class="hp-bar">
                            <div class="hp-bar-content">
                                <div class="real-hp">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="status-player">
        <div class="down-style">
            <div class="triangle-style">
                <div class="triangle">                
                </div>
            </div>
        </div>
        <div class="pokemon-status">
            <div class="status-container">
                <div class="name">
                    <span>bulbasaur</span>
                </div>
                <div class="level">
                    <span>Lv100</span>
                </div>
                <div class="hp-section">
                    <div class="hp-content">
                        <span>HP</span>
                        <div class="hp-bar">
                            <div class="hp-bar-content">
                                <div class="real-hp">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
