<div class="auth-section">
  <h1>Log In</h1>
  <h2>{{ LoginMessage }}</h2>
    <form (ngSubmit)="loginPlayer()" >
      <label for="username">Username: </label>
      <input type="text" placeholder="You username" name="username" [(ngModel)]="username" />
      <label for="password">Password: </label>
      <input type="password" placeholder="Your password" name="password" [(ngModel)]="password" />
      <button type="submit">Log In!</button>
      <a routerLink="/signup" ><span>Dont have and account?</span></a>
    </form>
  </div>